<div class="row row-cols-3">
  <div class="col" *ngFor="let user of users">
    <div class="card">
      <img [src]="user.avatar" class="card-img-top" alt="user avatar" />
      <div class="card-body">
        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Edit</button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="handleDeleteUser(user.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<nav>
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item" *ngFor="let p of pages" [class.active]="page === p">
      <a class="page-link" (click)="handlePageChange(p)">{{ p }}</a>
    </li>
  </ul>
</nav>
